*{box-sizing: border-box;
    margin: 0;
    padding: 0;}
   ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      }
   li{
      float:left;
      margin-left: 80px;
      }
   li a{
       margin-left: 10px;
      margin-right: 10px;
      padding: 14px 16px;
      text-decoration: none;
      display:block;
      }
      li a:hover{
          background-color: #1583D1;
          font: weight 2000px;
      }
   .f1{
       position: relative;
       display: inline-block;
      }
    .f1 .text{
       position: absolute; 
       top: 20%;
       margin: 0 auto;
       left: 0; 
       right: 0; 
       text-align: center;
       width: 60%;
       font-family: 'Cedarville Cursive', cursive;
       color: white;
       width: 60%;
       font-size: 45px;
    }
   
   .img1{
       height: 99vh;
       width: 100%;
       display: flex;
       z-index: 1;
   }
   .my1{
       align-items: center;
       display: block;
       margin-left: auto;
       margin-right: auto;
       padding-top: 20px;
       filter: drop-shadow(5px,10px, #1583D1);
   }
   .body2{
       background-color: #00468b;
   }
   .li2 a{
       margin-left: 10px;
      margin-right: 10px;
      padding: 14px 16px;
      text-decoration: none;
      display: block;
   }
   .ul2{
       background-color: #000058;
       text-align: center;
       font-family: 'Open Sans', sans-serif;
       font-size: large;
       font-weight: 500;
       color: white;
   }
   .ul2 a{
       
       text-decoration: none;
   }
   .foot1{
       background-color: #333;
       padding-left: 465px; 
   }
   .foot1 li{
     display: inline;
       list-style-type: none;
       float: left;
   }
   .foot1 li a{
       display: unset;
   }
   .foot1 li a:hover{
       background-color: #111;
       
   }
   .ul1 a{
       color: white;
   }